<div class="grid grid-cols-2 lg:grid-cols-4 gap-4">

    {% cotton statistics_card title="Incidents" value="0" subtitle="Today" value_color="text-red-600" %}{% endcotton %}

    {% cotton statistics_card title="Patrols" value="0" subtitle="Active" value_color="text-blue-600" %}{% endcotton %}

    {% cotton statistics_card title="Responders" value="0" subtitle="Online" value_color="text-green-600" %}{% endcotton %}

    {% cotton statistics_card title="Facilities" value="0" subtitle="Connected" value_color="text-violet-600" %}{% endcotton %}

</div>