<div class="rounded-2xl border border-slate-200 bg-white shadow-sm overflow-hidden">
    <div class="px-4 py-3 border-b border-slate-100">
        {{ header }}
        {% cotton:slot header %}
        {% endcotton:slot %}
    </div>
    <div class="px-4 pt-3 pb-4">
        {{ body }}
        {% cotton:slot body %}
        {% endcotton:slot %}
    </div>
    {% if footer %}
    <div class="px-4 py-3 border-t border-slate-100 bg-slate-50/50">
        {{ footer }}
        {% cotton:slot footer %}
        {% endcotton:slot %}
    </div>
    {% endif %}
</div>